body {
  height: 100vh;
  width: 100%;

  padding: 0;
  margin: 0;
}

.circle-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-choice-wrapper {
  width: 100%;
  height: 80vh;
}

.circle {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  border-radius: 50%;
}

#btn {
  padding: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  outline: 0;
  font-size: 20px;
  font-weight: 700;
}

#btn:hover {
  box-shadow: 3px 3px 1px 2px rgb(138, 138, 138);
}

.colors-circle {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.color-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid black;
}

/* .before-choice-color {
  display: none;
} */

@media screen and (max-width: 500px) {
  .circle {
    width: 200px;
    height: 200px;
    border: 5px solid black;
  }

  .color-circle {
    width: 50px;
    height: 50px;
    border: 4px solid black;
  }

  #btn {
    font-size: 13px;
    padding: 8px;
  }
}
