body {
  height: 100vh;
  width: 100%;

  padding: 0;
  margin: 0;
}

.circle-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-choice-wrapper {
  width: 100%;
  height: 100vh;
}

.circle {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  border-radius: 50%;
}

.btnClass {
  width: 150px;
}

.colors-circle {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.color-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid black;
}

/* .before-choice-color {
  display: none;
} */

@media screen and (max-width: 500px) {
  .circle {
    width: 200px;
    height: 200px;
    border: 5px solid black;
  }

  .color-circle {
    width: 50px;
    height: 50px;
    border: 4px solid black;
  }
}
